.jumbotron {

	&__section {
		display: flex;
		background-color: #27b7f9;
	}	

	&__container {
		display: flex;
	}	

	&__text {
		width: 50%;
		color: white;
		align-self: center;
	}

	&__machine {
		width: 50%;
		align-self: center;
		padding-bottom: 15px;
	}

	&__machine img {
		max-width: 100%;
		align-self: center;
	}	

	&__left-cloud {
		align-self: center;
		width: 22%;

		@media (max-width: 991px) {
			display: none;
		}
	}

	&__right-cloud {
		align-self: center;
		width: 22%;
	
			@media (max-width: 991px) {
			display: none;
		}
	}
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 479px) {

	.jumbotron__container {
		flex-direction: column;
	}

	.jumbotron__text {
		width: 100%;
	}

	.jumbotron__machine {
		width: 50%;
		padding-bottom: 10px;
	}



}