.jumbotron {

	&__section {
		display: flex;
		background-color: #27b7f9;
	}	

	&__container {
		display: flex;
	}	

	&__text {
		width: 50%;
		color: white;
		align-self: center;
	}

	&__machine {
		width: 50%;
		align-self: center;
	}

	&__machine img {
		max-width: 100%;
		align-self: center;
	}	

	&__left-cloud {
		align-self: center;
		width: 22%;
	}

	&__right-cloud {
		align-self: center;
		width: 22%;
	}

}

@media (max-width: 991px) {

	.jumbotron__left-cloud {
		display: none;
	}

	.jumbotron__right-cloud {
		display: none;
	}

}

@media (max-width: 767px) {

}

@media (max-width: 479px) {

}