.resources {
	&__items {
		display: flex;
		flex-wrap: wrap;
		align-content: stretch;
	}

	&__item {
		padding: 5px;
		align-self: stretch;
	}

	&__item-innerbox {
		padding-left: 10px;
		padding-right: 10px;
		border: 2px solid #3c5ade;
		align-content: center;
		height: 100%;
		font-weight: bold;
		min-height: 50px;
	}

	&__item-innerbox:hover {
		color: white;
		background-color: #68C300;
		border: 2px solid #68C300;
	}


	&__item-1 {
		width: 60%;
	}

	&__item-2 {
		width: 40%;
	}

	&__item-3 {
		width: 35%;
	}

	&__item-4 {
		width: 35%;
	}

	&__item-5 {
		width: 30%;
	}

}

@media (max-width: 991px) {

	.resources__items {
		display: flex;
		flex-direction: column;
		flex-wrap: no-wrap;
	}

	.resources__item {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		align-self: stretch;
	}

}

@media (max-width: 767px) {

}

@media (max-width: 479px) {

}