.header {
	border-bottom: 5px solid #eeeeee;

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__social {
		display: flex;
	}

}

@media (max-width: 991px) {

	.header__container {
		justify-content: center;
	}

	.header__social {
		display: none;
	}

}

@media (max-width: 767px) {

}

@media (max-width: 479px) {

}