.header {
	border-bottom: 5px solid #eeeeee;
	height: 40px;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		padding-top: 7px;
	}

	&__social {
		display: flex;
		align-items: center;
		padding-top: 7px;
	}

	&__social-text {
		color: #C0BFC0;
		font-weight: bold;
		padding-right: 5px;
		font-size: 0.8em;
	}

	&__social-icon img {
		width: 80%;
		padding-top: 3px;
	}

}

@media (max-width: 991px) {

	.header__container {
		justify-content: center;
	}

	.header__social {
		display: none;
	}

}

@media (max-width: 767px) {

}

@media (max-width: 479px) {

}