.selected-solutions {

	&__section {
		display: flex;
	}

	&__heading {
		text-align: center;
	}

	&__items {
		display: flex;
		direction: row;
		flex-wrap: wrap;
	}

	&__item {
		width: 25%;
	}	

	&__image-box {
		border: 2px solid #dbdbdb;

		& img {
			width: 100%;
		}
	}

}