.selected-solutions {

	&__section {
		display: flex;
	}

	&__heading {
		text-align: center;
	}

	&__items {
		display: flex;
		direction: row;
		flex-wrap: wrap;
		padding-bottom: 20px;
	}

	&__item {
		width: 25%;
		padding-left: 5px;
		padding-right: 5px;		
	}	

	&__item:hover &__image-box {
		border: 2px solid #6CBD00;
	}

	&__item:hover &__item-text {
		color: #6CBD00;
	}			

	&__item-text {
		padding-top: 5px;
		padding-bottom: 10px;
	}

	&__image-box {
		border: 2px solid #dbdbdb;

		& img {
			width: 100%;
		}
	}

	&__left-cloud {
		align-self: center;
		width: 15%;
	}

	&__right-cloud {
		align-self: center;
		width: 16%;
	}

}

@media (max-width: 991px) {

	.selected-solutions__left-cloud {
		display: none;
	}

	.selected-solutions__right-cloud {
		display: none;
	}

	.selected-solutions__item {
		width: 33%;
	}	

}

@media (max-width: 767px) {

	.selected-solutions__item {
		width: 50%;
	}	

	.selected-solutions__item-text {
		text-align: center;
	}

}

@media (max-width: 479px) {
	.selected-solutions__item {
		width: 100%;
	}	
}