.russian-solutions {
	&__section {
		background-color: #0078d7;
	}

	&__container {
		display: flex;
		flex-direction: row;
	}

	&__image img {
		padding: 12px;
	}

	&__text {
		color: white;
		align-self: center;
	}

	&__text a {
		color: #00ff1f;
		text-decoration: none;
	}
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 479px) {

	.russian-solutions__container {
		flex-direction: column;
	}

	.russian-solutions__image {
		align-self: center;
	}

	.russian-solutions__text {
		padding-bottom: 12px;
	}	

}